{% extends 'base.html'%}
{% load static %}

{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Network <span>Management</span></h1>


        <br>
        <p>A great team requires great leader, so as a great company requiresa great Management. We offer network maintenance fiber connections, by tracking failure points using tracking tools like OTDR and also fixing them to avoid network interuption.
        </p>
        <p>Maintenance of the OSP activities drives projects to a success rate of 100%. Our Network Management process ensures safe environment for optic fiber protection.
        </p>

    </div>
</section><!-- End Hero -->

<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
        

        <div class="section-title">

            <h3>Networks<span>Maintenance</span></h3>
            <p>
                Although ai automation has become a very popular approach to fiber optics design, our team also uses the
                traditional
                hands on design method carefully capturing the fiber path thereby revealling every details from the
                survey data. We make
                use of the Google earth, Microsoft Visio and other professional softwares to carry out our designs.</p>
        </div>

        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/design/design 1.jpg' %}" class="img-fluid" alt="">
        </div>



    </div>

</section><!-- End About Section -->

{% endblock %}