{% extends 'base.html'%}
{% load static %}




{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
         <h1><span>OSP</span> Insights</h1>



        <br>
        <p>With a well detailed analysis, we introduced OSP insights which gives detailed explanation of the outside plant activaties to our customers.
        </p>
        <p> Proper documentation is key to managing the OSP activites. 
            Analysis of data collected from the activities of the OSP are important to us, this shows the level of competence of our team. Keeping track of the project progress has never been much easier,
            this in turn leads to timely project delivery.
        </p>

    </div>
</section><!-- End Hero -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">

        <h3>Proper<span>Documentation</span></h3>
        Manage your fiber network operations Whether it's a splicer cutting in a new lateral or a fiber breaking because of
        environmental stress, your network changes constantly. OSPInsight provides you the tools to not only react, but to
        proactively manage your network.
        </div>
        
    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="{% static 'assets/img/design/design 1.jpg' %}" class="img-fluid" alt="">
    </div>
       

    </div>

</section><!-- End About Section -->



{% endblock %}